{% extends 'base.html' %}


{% block pageContent %}
    <form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
        {% if request.user.profile.avatar %}
            {% for field in form %}
                {% with request.user.profile.avatar as avatar %}
                    <b><u>Current: {{ avatar }}</u></b> <br>
                    {{ field.label_tag }} {{ field }}
                {% endwith %}
            {% endfor %}
            {% else %}
                {% for field in form %}
                        <b><u>Current: {{ avatar }}</u></b> <br>
                        {{ field.label_tag }} {{ field }}
                {% endfor %}
        {% endif %}
    <input type="submit" class="btn btn-primary" value="Register">
    </form>
{% endblock %}