{% extends 'base.html' %}


{% block pageContent %}
    <form action="." method="post" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
        {% if request.user.profile.avatar %}
            {% for field in form %}
                {% with request.user.profile.avatar as avatar %}
                    <b><u>Current: {{ avatar }}</u></b> <br>
                    {{ field.label_tag }} {{ field }}
                {% endwith %}
            {% endfor %}
             <input type="submit" class="btn btn-primary" disabled value="Register">
            {% else %}
                {% for field in form %}
                        {{ field.label_tag }} {{ field }}
                {% endfor %}
            <input type="submit" class="btn btn-primary" value="Register">
        {% endif %}

    </form>

    <form action="{% url 'delete_avatar' %} " method="post">
    {% csrf_token %}
    {% if request.user.profile.avatar %}
        <img src="/media/{{ request.user.profile.avatar }}" id="avatar">
        <button type="submit" class="btn-danger">Delete!</button>
        {% else %}
    {% endif %}
    </form>

{% endblock %}